@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Gilroy-Medium', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    background-color: rgb(221, 213, 204);
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 50px;
}

.inputBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.heading{
    background-color: #e3e0e0;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, 0.252);
}

button{
    background-color: lightseagreen;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    transition: all ease 0.3s;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.252);
}

button:active{

    scale: 0.8;
}

#colorInput{
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.252);
}

.currentColor{
    background-color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.252);
}